version: "3"
name: "data-research"

services:
  server:
    container_name: "data-research"
    build:
      context: .
    environment:
      - POSTGRES_USER_FILE=/run/secrets/postgres-u
      - POSTGRES_PASSWORD_FILE=/run/secrets/postgres-p
    networks:
      - db_prdnet
    secrets:
      - postgres-u
      - postgres-p

secrets:
  postgres-u:
    file: db/postgres-u.txt
  postgres-p:
    file: db/postgres-p.txt

networks:
  db_prdnet:
    external: True
